mat-list-item {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 10px;
    height: 85px !important;
}

mat-list-item:hover {
    background-color: #F9E8D9;
}

mat-icon:hover {
    color: coral;
}

.save-button {
    margin-top: 10px;
}

.cancel-button {
    margin-left: 5px;
}

.edit-icon {
    margin-right: 20px;
    margin-left: 25px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 10px;

    input {
        color: coral;
        border: 2px solid coral;
        border-radius: 25px;
        padding: 10px;
        width: 300px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: coral;
            opacity: 0.5;
            padding-left: 10px;
        }
    }
}