<mat-toolbar>
  <span class="title-span" *ngIf="!isMobile">
    <img class="wbt-logo" src="../assets/logo.png">
  </span>
  <span *ngIf="!isMobile">
    <h1>WBT Directory</h1>
  </span>
  <span class="directory-search" [ngClass]="isMobile ? 'mobile-search-bar' : ''">
    <input matInput type="search" placeholder="search employees" [(ngModel)]="searchText" (keydown)="directorySelected = 'all'" name="search" [ngClass]="isMobile ? 'mobile-search-bar' : ''">
  </span>
</mat-toolbar>

<div>
  <mat-radio-group [(ngModel)]="directorySelected" class="radio-box" [ngClass]="isMobile ? 'mobile-radio' : ''" (change)="changeDirectory($event)">
    <mat-radio-button color="warn" value="all">All Employees</mat-radio-button>
    <mat-radio-button color="warn" value="department">Employees by Department</mat-radio-button>
    <mat-radio-button color="warn" value="fax">Fax Numbers</mat-radio-button>
    @if (userAuthenticated) {
      <mat-radio-button color="warn" value="admin">Admin Panel</mat-radio-button>
    }
  </mat-radio-group>
</div>


<mat-list>
  @if (directorySelected === 'all') {
    <app-all-employees [isMobile]="isMobile" [searchText]="searchText.toLowerCase()" [people]="people"></app-all-employees>
  } @else if (directorySelected === 'department') {
    <app-department-employees [isMobile]="isMobile" [searchText]="searchText.toLowerCase()" [byDepartments]="byDepartments"></app-department-employees>
  } @else if (directorySelected === 'fax') {
    <app-fax-numbers [faxes]="fax"></app-fax-numbers>
  } @else if (directorySelected === 'admin' && userAuthenticated) {
  <!-- } @else if (directorySelected === 'admin') { -->
    <app-admin-panel (onLogout)="uponLogout($event)" (onUpdate)="onAdminUpdate()" [people]="people" [faxes]="fax"></app-admin-panel>
  }
  
</mat-list>

<div class="admin-container">
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="lock" class="admin-button" (click)="adminDialog()" *ngIf="this.showAdmin && !this.userAuthenticated"></mat-icon>
</div>