mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: coral;
    color: white;
}


.admin-button {
    margin: 50px 50px 0 25px;
}

.admin-button:hover {
    color: coral;
}

.radio-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 15px 0;
}

.mobile-radio {
    flex-direction: column;
}

.radio-box mat-radio-button {
    margin: 0 10px 0 10px;
}

.mobile-search-bar {
    width: 100%;
}

.directory-search {
    padding: 10px;
    color: coral;
}

.directory-search input {
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 15px;
    font-family: DMSerif;

    &:focus {
        border: none;
        outline: none;
    }

    &::placeholder {
        padding: 10px;
        font-family: DMSerif;
        color: coral;
        opacity: 0.5;
    }
}

span h1 {
    font-family: DMSerif;
    font-size: 25px;
}

.directory-search {
    margin-top: 5px;
}

.title-span {
    display: flex;
    flex-direction: row;
}

.wbt-logo {
    width: 250px;
    height: auto;
}
