mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: coral;
    color: white;
}

.department-icon {
    background-color: coral;
    color: white;
    border-radius: 25px;
    font-size: 12px;
    padding: 5px;
    width: 75px;
    margin-left: 50%;
    text-align: center;
}

.title-span {
    display: flex;
    flex-direction: row;
}

.title-span h1 {
    font-family: DMSerif;
    margin-left: 30px;
}

.wbt-logo {
    width: 250px;
    height: auto;
}