<div class="search-container">
    <input matInput type="search" placeholder="Search" [(ngModel)]="searchAdmin">
</div>

@for (person of this.people; track person.telephone) {
    <mat-list-item *ngIf="person.fname.toLowerCase().includes(searchAdmin.toLowerCase()) || person.lname.toLowerCase().includes(searchAdmin) || person.telephone.includes(searchAdmin) || person.email.toLowerCase().includes(searchAdmin.toLowerCase()) || person.department.toLowerCase().includes(searchAdmin.toLowerCase())">
        <div class="grid grid-cols-6 gap-6">
            @if (!person.edit) {
                <span>
                    {{ person.lname }}
                </span>
                <span>
                    {{ person.fname}}
                </span>
                <span>
                    {{ person.telephone }}
                </span>
                <span>
                    {{ person.email }}
                </span>
                <span class="department-icon">
                    {{ person.department }}
                </span>
                <span>
                    <mat-icon fontIcon="edit" class="edit-icon" (click)="person.edit = !person.edit"></mat-icon>
                    <mat-icon fontIcon="delete" (click)="deleteEmployee(person)"></mat-icon>
                </span>
            } @else {
                <span>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput [(ngModel)]="person.lname">
                    </mat-form-field>
                </span>
                <span>
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput [(ngModel)]="person.fname">
                    </mat-form-field>
                </span>
                <span>
                    <mat-form-field>
                        <mat-label>Telephone</mat-label>
                        <input matInput [(ngModel)]="person.telephone">
                    </mat-form-field>
                </span>
                <span>
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input matInput [(ngModel)]="person.email">
                    </mat-form-field>
                </span>
                <span>
                    <mat-form-field>
                        <mat-label>Department</mat-label>
                        <mat-select [(ngModel)]="person.department">
                            @for (dept of this.departments; track dept) {
                                <mat-option value="{{ dept }}">{{ dept }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </span>
                <span>
                    <button mat-stroked-button color="warn" class="save-button" (click)="saveChanges(person)">Save</button>
                    <button mat-stroked-button color="primary" class="cancel-button save-button" (click)="person.edit = !person.edit">Cancel</button>
                </span>
            }
        </div>
    </mat-list-item>
    <mat-divider *ngIf="person.fname.toLowerCase().includes(searchAdmin.toLowerCase()) || person.lname.toLowerCase().includes(searchAdmin) || person.telephone.includes(searchAdmin) || person.email.toLowerCase().includes(searchAdmin.toLowerCase()) || person.lname.toLowerCase().includes(searchAdmin) || person.telephone.includes(searchAdmin) || person.email.toLowerCase().includes(searchAdmin.toLowerCase()) || person.department.toLowerCase().includes(searchAdmin.toLowerCase())"></mat-divider>
}