.department-icon {
    background-color: coral;
    color: white;
    border-radius: 25px;
    font-size: 12px;
    padding: 5px;
    width: 110px;
    margin-left: 50%;
    text-align: center;
}

.edit-icon {
    margin-right: 20px;
    margin-left: 25px;
}

mat-list-item {
    padding-left: 25px;
    margin-top: 10px;
    height: 65px !important;
}

.save-button {
    margin-top: 10px;
}

.cancel-button {
    margin-left: 5px;
}

mat-icon:hover {
    color: coral;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 10px;

    input {
        color: coral;
        border: 2px solid coral;
        border-radius: 25px;
        padding: 10px;
        width: 300px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: coral;
            opacity: 0.5;
            padding-left: 10px;
        }
    }
}