.logout-button {
    position: absolute;
    top: 100px;
    right: 25px;
}

.logout-button:hover {
    color: coral;
}

.radio-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 15px 0;
}